body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#results {
    font-size: x-large;
    font-family: "Courier New";
    margin-top: 50px;
    color:orchid;
}
